@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.PageContent {
  background-color: #dddddd; /* or any color you want */
  flex-grow: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.icon-hover:hover {
  stroke: #6d6d6d; /* You can choose the desired color for the hover effect */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
